.topbar {
    width: 100%;
    height: 40px;
    padding-top: 1.5em;
    padding-right: 2.5em;
    /* background-color: red; */
}

.topbarWrapper {
    height: 100%;
    /* padding: 0px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #dadcda;
}

.topRight {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.topRight_left {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin-right: 1em;
}

.search {
    cursor: pointer;
}

.notificaiton {
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .gambar {
    margin-right: 1em;
}

.gambar img {
    width: 2em;
    border-radius: 50%;
}

.namaUser {
    padding-bottom: .4em;
}

/* Ipads, Tables */
@media (max-width:768px) {
    .topLeft {
        width: 250px;
    }

    .topRight {
        max-width: 30vw;
    }

    .icon {
        margin-right: 1em;
    }

    .profile .gambar {
        margin-right: 1em;
    }
}

/* Mobile Devices */
@media (max-width:480px) {
    .topLeft {
        width: 180px;
    }

    .topLeft h4 {
        font-size: .8rem;
    }

    .topRight {
        width: 23vw;
    }

    .namaUser p {
        display: none;
    }

    .icon {
        margin-right: 1em;
    }
}