.container_perusahaan {
    height: 85vh;
    width: 260px;
}

.container_profile {
    position: relative;
    bottom: 3.5em;
}

.profile_perusahaan {
    box-shadow: 6px 0px 10px -1px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: .8em;
}

.box .greenText {
    color: #34753a;
}

.box a {
    color: #34753a;
    text-decoration: none;
    font-size: .75rem;
}



.backgroundProfile {
    object-fit: cover;
    width: 100%;
    height: 10vh;
}

.logoPerusahaan {
    background-color: white;
    margin: 0 auto;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #d3e1d5;
    margin-bottom: 1em;
}

.logoPerusahaan img {
    width: 100%;
    object-fit: contain;
}

.topProfile {
    margin-bottom: 1em;
}

.topProfile .keterangan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.topProfile .keterangan h2 {
    font-size: 1.3rem;
    color: #515151;
    margin-bottom: .3em;
}

.topProfile .keterangan span {
    font-size: .75rem;
    color: #a5a5a5;
}

/* Sunting Profile */
.editProfile {
    margin: 0 auto;
    width: 105px;
}

.editProfile button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #34753a;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Toggle Switch */
.toggleAktif {
    display: flex;
    justify-content: space-between;
}


.detailProfile {
    padding-left: 1em;
    padding-right: 1em;

}

.detailProfile span {
    color: #c5c5c5;
    font-size: .7rem;
    margin-bottom: .5em;
}

.detailProfile p {
    color: #737373;
    font-size: .8rem;
}

/* Ipads, Tables */

@media (max-width:768px) {
    .profile_perusahaan {
        width: 65vw;
        margin: 0 auto;
        height: 641px;
    }
}