.sidebar {
    background-color: white;
    width: 70px;
    height: 100vh;
    box-shadow: 6px 0px 10px -1px rgba(0, 0, 0, 0.21);
    margin-right: 3.5em;
}

.top_section {
    display: flex;
    margin: 1.5em 0 3em 0;
}

.logo {
    margin: auto;
}

.menuItems {
    display: flex;
    flex-direction: column;
}

.menuItemsTop,
.menuItemsMiddle {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.menuItemsBottom {
    display: flex;
    flex-direction: column;
}

.link {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

}

.link:hover {
    background-color: #ebf2ec;
    transition: all 0.3s;
}

.icon {
    color: #8f8f8f;
    margin: 0 auto;
}

.greenBar {
    width: .25em;
    height: 100%;
    background-color: green;
}

.active {
    background-color: #ebf2ec;
}

/* Small Screen */
@media (max-width: 769px) {
    .sidebar {
        margin-right: 1em;
    }

    .menuItemsTop,
    .menuItemsMiddle {
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;
    }


    .icon {
        max-width: 20px;
    }
}